  <div>
    <button (click)="bsModalRef.hide()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <form class="update-form" [formGroup]="postForm">
      <label >Title</label>
      <input type="text" class="form-control" formControlName="title">
      <label>Body</label>
      <input type="text" class="form-control" formControlName="body">
      <button class="btn btn-success update-post-btn" (click)="update(post)">Update</button>
    </form>
  </div>

