.create-post {
  border: 1px solid #ced4da;
  padding: 23px 15px;
  margin-top:16px;
  input {
    margin-bottom: 10px;
  }
  textarea {
    margin-bottom: 10px;
  }
}
.save-post-btn {
  margin-top: 10px;
}

